{# this is the template used by in conjunction with the form transition trait #}

<h3>
    {{ entity.enabledTransitions|length }} {{ flowCode }} Transitions from {{ entity.marking }}, plus save
</h3>


<ul class="list-group list-group-horizontal">
    {#  otherwise just let form_rest get this #}

    {#        {{ include(extra_include)  }}#}
    <li class="list-group-item">
        {% if extra_include|default(false) %}
            {{  include(extra_include) }}
        {% endif %}
    </li>

    <li class="list-group-item">
        {% if show_link|default(false) %}
            <a href="{{ show_link }}">Back to {{ show_link }}</a>
        {% endif %}
    </li>

    {% if save_without_transitions|default(false) %}
        <li class="list-group-item">
            {{ form_row(form.save_without_transitions, {
                label: "Keep @" ~ entity.marking,
                label_attr: { class: 'inline'},
                attr: {
                    title: "%s Save, no transition"|format(entity.marking),
                    class: 'btn btn-sm btn-info',
                    icon: 'fal fa-sync'
                }
            }) }}
        </li>
    {% endif %}

    {% for transition in entity.enabledTransitions %}
        {% if form[transition] is defined %}
            {% set buttonClass = workflow_metadata(entity, 'class', transition, flowCode) %}
            {% set buttonSize = workflow_metadata(entity, 'frequency', transition, flowCode) == 'high' ? 'btn-lg' : 'btn-sm' %}
            {% set element = attribute(form, transition) %}

            <li class="list-group-item flex-fill">
                {{ form_row(element, {
                    label: "transitions.%s.label"|format(transition)|trans,
                    attr: {
                        class: 'btn btn-sm btn-info btn-outline transition transition-%s %s'|format(transition, buttonClass) }
                }) }}
            </li>
        {% else %}
            No button for {{ transition }}
        {% endif %}
    {% else %}
        No {{ flowCode }} actions available from <code>{{ entity.marking }}</code>
    {% endfor %}


</ul>
