
{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}

    <h1>{{ workflowsByCode|length }} Workflows</h1>
    {% for code, wrapper in workflowsByCode %}
        <h1>{{ code }}</h1>
        <code>{{ wrapper.workflow.markingStore.property }}</code>
        {{ dump(wrapper) }}
        <a href="{{ path('survos_workflow', {flowCode: code}) }}">Show More</a>

        {{ workflow_diagram(wrapper.entity, code, 'LR') }}

    {% endfor %}



{% endblock %}
