
{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}

    

    {% set allowTransitions = true %}

        <h2><a href="{{ path('survos_workflow', {class: class, flowCode: flowCode}) }}">{{ flowCode }} {{ entity.id }} {{ class }}</a></h2>


        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12" >
                {% if allowTransitions %}
                    {% include "@SurvosWorkflow/workflow_transitions.html.twig" with {entity: entity, class: class, transitions: definition.transitions} %}
                {% endif %}
                {#

                {{ object.marking }}
                <img class="workflow" style="width: 345px" src='data:image/svg+xml;utf8,
{{ workflow_diagram(entity.object,'LR') }} />
#}

        {{ workflow_diagram(entity, flowCode, 'LR') }}

            </div>
        </div>
            <div class="row">

            <div class="col-sm-6 col-lg-3">
                <h3>{{ flowCode }} Transitions</h3>
                <ul>
                    {% for t in definition.transitions %}
                        <li>
                            <i>{{ t.name }}</i>
                            <span class="pull-right">
                                {{ t.froms|join(',') }}
                                <i class="fa fa-arrow-circle-right"></i> {{ t.tos|join(',') }}
                            </span>
                            <br />
                            {{ workflow_metadata(entity, 'description', t)|trans  }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3">
                <h3>{{ flowCode }} States</h3>
                <ul>
                    {% for place in definition.places if place != definition.initialPlace %}
                        <li><b>{{ place }}</b>: {{ "%s.places.%s.description"|format(flowCode, place)|trans }}
                        <a href="{{ path('survos_workflow', {flowCode: flowCode, class: class, states: place|json_encode}) }}">Set</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {{ dump(definition) }}

{% endblock %}
