{% if flowName is not defined %}
    {% set flowName = entity.flowCode %}
{% endif %}

<div class="row">

    Marking: <code>{{ entity.marking }} {{ workflow_metadata(entity, 'label', entity.marking, flowName) }}</code>

    <b>{{ ('workflow.%s.place.%s.display'|format(flowName, entity.marking))|trans }}</b>
    <i>{{ ('workflow.%s.place.%s.description'|format(flowName, entity.marking))|trans }}</i>

{#{{ dump(entity.marking, entity) }}#}
{#{{ dump(flowName) }}#}

    {{ entity.lastTransitionMessage|default('') }}

    {# Loop through the transition blockers #}
    {% if false and workflow is defined %}
        {% for t in workflow.definition.transitions|filter (t=>t.name=='request_clone') %}
            <ol>
                {% for blocker in workflow_transition_blockers(entity, t.name) %}
                    <li>
                        {{ t.name }}
                        <span class="error">{{ blocker.message }}</span>

                    </li>
                {% endfor %}

            </ol>
        {% endfor %}
    {% endif %}

    {% if transition_path is defined %}
        {% set formAction =  url(transition_path, entity.rp({return_to_referrer: true, flowName: flowName, _format: 'html'})) %}
    {% else %}
        {% set formAction = "#" %}
    {% endif %}

        <div class="btn-group-vertical" role="group">
            <table>
                {% for transition in workflow_transitions(entity, flowName) %}
                    {% set tName = transition.name %}
                    <tr>
                        <td>
                    {% set formAction =  url(transition_path,
                        entity.rp({transition: tName, return_to_referrer: true, flowName: flowName, _format: 'html'})) %}
                            <form action="{{ formAction }}" method="POST">
                                <input type="hidden" name="flowName" value="{{ flowName }}"/>
                                <input type="hidden" name="type" value="{{ entity_class(entity) }}"/>
                            <button type="submit" name="transition" class="btn btn-outline-success"
                                    value="{{ transition.name }}">
                                {{ tName }}
                            </button>
                            </form>
                        </td>

                        {% if async|default(false) %}
                            <td>
                                <button type="submit" name="transition" value="{{ transition.name }}"
                                        title="{{ tName }}"
                                        {% if workflow_can(entity, transition.name, flowName) -%}
                                            class="btn btn-primary"
                                        {%- else -%}
                                            class="btn btn-danger" disabled="disabled"
                                        {%- endif -%}
                                >
                                    {{ ('workflow.%s.transition.%s.display'|format(flowName, tName))|trans }}
                                </button>
                            </td>
                            <td>
                                <button type="submit" name="transition" class="btn btn-warning"
                                        value="{{ transition.name }}_async" title="{{ tName }}">
                                    Async
                                </button>
                            </td>
                        {% endif %}
                        {#                    <td> #}
                        {#                        <button type="submit" name="transition" value="{{ transition.name }}" title="{{ tName }}" #}
                        {#                                {% if workflow_can(entity, transition.name, flowName) -%} #}
                        {#                                    class="btn btn-primary" #}
                        {#                                {%- else -%} #}
                        {#                                    class="btn btn-danger" disabled="disabled" #}
                        {#                                {%- endif -%} #}
                        {#                        > #}
                        {#                            {{ ('workflow.%s.transition.%s.display'|format(flowName, tName))|trans }} #}
                        {#                        </button> #}
                        {#                    </td> #}
                    </tr>
                {% endfor %}
                            <tr>
                                <td>
                                    {# must match PixieController constant #}
                                    {% set formAction = path(transition_path, entity.rp({transition:'_reset'})) %}
                                    <form action="{{ formAction }}" method="POST">
                                        <button type="submit" value="_hard_reset"
                                                class="btn btn-danger"
                                        >
                                            {{ 'reset' }}
                                        </button>
                                    </form>
{#                                    {% set tName = "Reset" %}#}

{#                                    {% set formAction =  url(transition_path,#}
{#                                        entity.rp({transition: tName, return_to_referrer: true, flowName: flowName, _format: 'html'})) %}#}
{#                                    {{ formAction }}#}

{#                                    <button type="submit" name="transition" value="_hard_reset"#}
{#                                            class="btn btn-danger"#}
{#                                    >#}
{#                                        {{ tName }}#}
{#                                    </button>#}
                                </td>
                                <td rowspan="2">
                                    <b>Reset Workflow</b>
                                </td>
                            </tr>
            </table>
        </div>
    </form>

</div>
