
{% extends ['base.html.twig', '@SurvosWorkflow/layout.html.twig'] %}

{% block body %}


{#    {% for class, workflows in workflowsGroupedByClass %}#}
{#        {% for code, workflow in workflows %}#}
{#            <h1>{{ class}}: {{ code }}</h1>#}
{#            <a href="{{ path('survos_workflow', {flowCode: code}) }}">Show More</a>#}
{#            {{ workflow_diagram(wrapper.entity, code, 'LR') }}#}
{#        {% endfor %}#}
{#    {% endfor %}#}

    <h1>{{ workflowsByCode|length }} Workflows</h1>

    {% for code, config in configs %}
        <h1>{{ code }}</h1>

    {% endfor %}

    {% for code, workflow in workflowsByCode %}
        <h1>{{ code }}</h1>
        {{ path('survos_workflow', {flowCode: code}) }}
        <a href="{{ path('survos_workflow', {flowCode: code}) }}">Show More</a>

        {{ workflow_diagram(workflowName=code) }}

    {% endfor %}


{% endblock %}
