{% if flowCode is not defined %}
{% set flowCode = entity.flowCode %}
{% endif %}
{% set transitions = workflow_transitions(entity, flowCode) %}
{#{% set action = (entity.id|default(false))#}
{#    ? path(transition_path|default('project_workflow_transition'), entity.rp({flowCode: flowCode}))#}
{#    : path('survos_workflow', {flowCode: flowCode})#}
{#%}#}
{% set action = '#' %}
<form action="{{ action }}" method="GET">
    <input type="hidden" name="class" value="{{ class|default(entity_class(entity)) }}"/>
    <input type="hidden" name="states" value="{{ entity ? entity.marking|json_encode }}"/>
    <input type="hidden" name="referrer_url" value="{{ app.request.uri }}"/>
    <div class="btn-group">
        {{ dump(transitions) }}
        {% if transitions %}
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    title="{{ flowCode }} Workflow"
                    aria-haspopup="true" aria-expanded="false">
                Status: {{ entity.markingDisplay }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for transition in transitions %}
                    {% set tName = transition.name %}
                    <li class="dropdown-item">

                        {% set description = workflow_metadata(entity, 'description', transition, flowCode)|trans  %}
                        {% set label = workflow_metadata(entity, 'label', transition, flowCode)|trans ?: tName  %}

                        <button type="submit" class="btn btn-link" name="transitionName" value="{{ tName }}"
                                title="{{ description }}"
                                {% if not workflow_can(entity, tName, flowCode) -%}disabled{%- endif -%}
                        >
                            {{ label }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if app.request.get('hard') %}
            <button type="submit" name="transition" value="hard_reset" class="btn btn-danger">
                Hard Reset
            </button>
        {% endif %}

    </div>
</form>
{% if not transitions %}
    <p>
        <strong>No actions</strong>
    </p>
{% endif %}
